body {
    margin: 0 auto;
    width: 100%;
}

.wrapper-title {
    margin-left: calc((100% - 513px)/2);
    margin-right: calc((100% - 513px)/2);
    margin-bottom: 67px;
}

.title {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 100%;
    text-align: center;
}

.line {
    width: 87px;
    border: 1px solid #000000;
    margin: 24px auto 21px;
}

.hash {
    float: left;
    margin-right: 12px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 104.5%;
}

.email {
    float: left;
    margin-right: 21px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 104.5%;
}

.wrapper-pictures {
    max-width: 1166px;
    width: 100%;
    margin: 0 calc((100% - 1162px)/2);
}

img {
    
    margin: 0 5px 5px 0;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}