html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1366px;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    max-width: 1162px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: transparent;
    top: 36px;
    z-index: 10;
}

.logo {
    max-width: 100%;
}

.menu {
    max-width: 506px;
    width: 100%;
    margin-right: 11.5rem;
    margin-left: 6.5625rem;

}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 31.625rem;
    width: 100%;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 120%;
    text-align: center;
    color: #000000;
    padding: 0;
    margin: 0;
}

.menu__link {
    color: black;
    cursor: pointer;
    position: relative;
    line-height: 1;
    transition: 400ms;
    max-width: 150px;
    width: 100%;
}

.menu__link:hover {
    color: #FF8C00;
}

.menu__link:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #FF8C00;
    content: "";
    transition: width 0.3s ease-out;
}

.menu__link:hover:after {
    width: 100%;
}

.phone {
    max-width: 155px;
    width: 100%;
}

.phone__number {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 120%;
    color: #000000;
    transition: 400ms;
}

.phone__number:hover,
.phone__text:hover {
    color: #FF8C00;
    cursor: pointer;
}

.phone__text {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 120%;
    text-decoration: underline;
    color: #000000;
    transition: 400ms;
}

.decoration {
    width: 100%;
    background: url(img/backgrGreen.png) no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.decoration-left {
    position: relative;
    max-width: calc(100% / 2);
    width: 100%;
    align-self: flex-start;
}

.decoration-right {
    position: relative;
    max-width: calc(100% / 2);
    width: 100%;
    align-self: flex-end;
}

.decoration-left__bigLogo {
    position: absolute;
    top: 150px;
    left: 81px;
}

.decoration-right__plate {
    padding: 0px 0 110px 80px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.1));
}

.decoration-right__chili {
    position: absolute;
    bottom: -66px;
    right: -45px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.15));
}

.decoration-right__tomato {
    filter: drop-shadow(15px 15px 40px rgba(0, 0, 0, 0.2));
    left: -72px;
    bottom: -75px;
    position: absolute;
}

.decoration-right__tomato1 {
    filter: drop-shadow(15px 15px 40px rgba(0, 0, 0, 0.2));
    top: 80px;
    left: 31px;
    position: absolute;
}

.decoration-left__leaf2 {
    bottom: 52px;
    left: 4px;
    position: absolute;
    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.25));
}

.decoration-right__leaf1 {
    top: -36px;
    right: 117px;
    position: absolute;
    filter: drop-shadow(20px 20px 40px rgba(0, 0, 0, 0.2));
}

.decoration-left__choose-program-button {
    width: 18.3125rem;
    height: 3.875rem;
    background: #162223;
    border-radius: 58px;
    margin: 517px 0 81px 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.decoration-left__button-name {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 12px 13px;
    background: transparent;
}

.decoration-left__button-image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #D1D94D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
}

.decoration__item:hover {
    animation: 2s spin-scale;
}

.decoration__item {
    transition: 400ms;
}

@keyframes spin-scale {
    50% {
        transform: rotate(4deg) scale(1.5);
    }

    100% {
        transform: rotate(0deg) scale(0.95);
    }
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5.625rem;
}

.benefits__item:first-child {
    padding: 0;
    animation: 0.5s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 1.5s;
}

.benefits__item:nth-child(2) {
    padding: 0;
    animation: 0.5s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 3s;
}

.benefits__item:nth-child(3) {
    padding: 0;
    animation: 0.5s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 4.5s;
}

.benefits__item:nth-child(4) {
    padding: 0;
    animation: 0.5s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 6s;
}

.benefits__item:nth-child(5) {
    padding: 0;
    animation: 0.5s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 7.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flipOutY {
    0% {
        transform: perspective(400px) rotateY(0deg);
    }

    80% {
        transform: perspective(400px) rotateY(0deg);
    }

    100% {
        transform: perspective(400px) rotateY(360deg);
    }
}

.benefits__item {
    width: 100%;
    max-width: 154px;
}

.benefits__item-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #BFE142;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits .benefits__item:nth-child(1) .benefits__item-img {
    animation: 8.5s flipOutY 1s infinite;
}

.benefits .benefits__item:nth-child(2) .benefits__item-img {
    animation: 8.5s flipOutY 2s infinite;
}

.benefits .benefits__item:nth-child(3) .benefits__item-img {
    animation: 8.5s flipOutY 3s infinite;
}

.benefits .benefits__item:nth-child(4) .benefits__item-img {
    animation: 8.5s flipOutY 4s infinite;
}

.benefits .benefits__item:nth-child(5) .benefits__item-img {
    animation: 8.5s flipOutY 5s infinite;
}

.benefits__item-title {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 120%;
    color: #000000;
    margin-top: 15px;
}

.programs {
    width: 100%;
    margin-top: 5.9375rem;
}

.programs__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3.8125rem;
}

.programs-header__title {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 2.1875rem;
    line-height: 100%;
    color: #000000;
    margin: 0;
}

.programs-header__subtitle {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 104.5%;
    color: #000000;
}

.line {
    border-bottom: 2px solid #000000;
    width: 87px;
    height: 0;
    margin: 24px auto 21px;
}

.programs__cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    max-width: 362px;
    width: 100%;
}

.card__title {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 127%;
    color: #000000;
    margin: 27px 0 31px;
}

.card__meal {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 127%;
    color: #63A233;
    margin-bottom: 17px;
}

.meals-time__name {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 127%;
    color: #000000;
}

.card__meals-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 234px;
    width: 100%;
    margin-bottom: 29.5px;
}

.meals-time__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 88.12px;
    width: 100%;
    margin: 0 28px 7.5px 0;
}

.meals-time__image {
    margin-right: 9px;
}

.card__menu-item {
    list-style-type: disc;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 172.5%;
    color: #000000;
}


.card__menu {
    padding-inline-start: 18px;
}

.card__order-program-button {
    border: 2px solid #EF3120;
    box-sizing: border-box;
    border-radius: 58px;
    width: 15.5rem;
    height: 3.875rem;
    background: transparent;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 38px;
    text-transform: uppercase;
    color: #EF3120;
    margin: 2.5rem 0 3.125rem;
}

.instagram__header {
    width: 100%;
    margin-bottom: 4.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.instagram-header__title {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 2.1875rem;
    line-height: 100%;
    color: #000000;
    margin: 0;
}

.instagram-header__hashes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
}

.hashes__email {
    margin-right: 21px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 104.5%;
}

.hashes__item {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 104.5%;
}

.instagram__pictures {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1162px;
    width: 100%;
    margin-top: 3.75rem;
}

.instagram__pictures-image {
    margin-bottom: 10px;
    max-width: 100%;
}

.feedback {
    background: #282828;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 928px;
    width: 100%;
    margin: 74px 0 65px;
}

.feedback__header {
    margin-bottom: 45px;
}

.feedback-header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.375rem;
}

.feedback-header__title {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 2.1875rem;
    line-height: 100%;
    color: #BFE142;
}

.feedback__form,
.form {
    display: flex;
    justify-content: space-between;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 105%;
    color: #FFFFFF;
    width: 100%;
}

.form-mobile {
    display: none;
}

.form__left,
.form__right {
    width: 50%;
}

.form__left {
    margin-right: 60px;
}

.form__item {
    margin-bottom: 60px;
}

.form__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options__item:first-child {
    margin-right: 33px;
}

.form__agreement {
    display: flex;
    align-items: center;
}

.options__item input[type=radio] {
    display: none;
}

.options__item label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 37px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}

.options__item label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: white 0 0 no-repeat;
    border-radius: 50%;
    border: 2px solid white;
}

/* Checked */
.options__item input[type=radio]:checked+label:before {
    background: black 0 0 no-repeat;
}

.options__item label::after {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    background: white 0 0 no-repeat;
    border-radius: 50%;
}

.agreement__input {
    display: none;
}

.agreement__label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 37px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}

.agreement__label:before {
    content: "";
    display: inline-block;
    width: 19.25px;
    height: 19.25px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: white 0 0 no-repeat;
    border: 1px solid white;
}

/* Checked */
.agreement__input:checked+label:before {
    background: black 0 0 no-repeat;
}

.agreement__label::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 9px;
    position: absolute;
    left: 5px;
    bottom: 6px;
    background: url(img/ok.svg) 0 0 no-repeat;
}

.form__button-send {
    width: 220px;
    height: 62px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 58px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.footer {
    background: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 5.625rem;
}

.contacts__phone {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.contacts__adress {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.contacts__email {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 120%;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer__contacts {
    align-self: flex-start;
}

.footer__social {
    align-self: flex-start;
}

.social__develop {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 120%;
    color: #FFFFFF;
}

.social__develop-name {
    font-family: Museo Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 17px;
    color: #FFFFFF;
}

.social__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 197px;
    width: 100%;
    margin-bottom: 79px;
}

@media (max-width:1200px) {
    html {
        font-size: 15px;
    }

    .content {
        width: 90%;
    }

    .menu__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .header {
        padding: 0 10px;
    }

    .decoration-right__leaf1 {
        right: 0px;
    }

    .decoration-right__plate {
        max-width: 100%;
        width: 80%;
    }

    .decoration-left__bigLogo {
        max-width: 100%;
        width: 90%;
    }

    .programs__cards {
        justify-content: space-evenly;
    }

    .feedback__form {
        width: 90%;
    }
}

@media (max-width:900px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .phone {
        position: absolute;
        top: 0;
        right: 15px;
    }

    .menu {
        margin: 0;
        padding: 20px 0;
        margin-left: 2.15rem;
    }

    .decoration {
        background: url(img/backgrGreen80.png) no-repeat;
    }

    .decoration__image {
        width: 20%;
    }

    .decoration-right__plate {
        width: 80%;
    }

    .decoration-left__bigLogo {
        width: 80%;
        top: 11.75rem;
    }

    .decoration-left__choose-program-button {
        margin: 420px 0 81px 68px;
    }

    .decoration-right__tomato {
        left: 73px;
        bottom: -15px;
    }

    .decoration-right__chili {
        display: none;
    }

    .decoration-right__tomato {
        width: 30%;
    }

    .benefits__item {
        width: 80%;
        max-width: 140px;
    }

    .feedback__form {
        width: 80%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 13px;
    }

    .card {
        max-width: 600px;

    }

    .programs__cards {
        justify-content: center;
    }

    .card__image {
        width: 100%;
    }

    .benefits__item {
        width: 50%;
        max-width: 120px;
    }
    .decoration-right__plate {
        width: 70%;
    }
}

@media (max-width:700px) {
    .footer__content {
        flex-direction: column;
    }

    .footer__copyright {
        text-align: center;
        margin: 0;
    }

    .footer__contacts {
        margin-top: 10px;
    }

    .footer__social {
        align-self: flex-end;
        margin-top: -75px;
    }

    .social__icons {
        margin-bottom: 30px;
    }

    .decoration-left__button-name {
        line-height: 1;
    }

    .decoration-left__choose-program-button {
        margin: 375px 0 81px 68px;
    }

    .decoration-right__tomato {
        left: 195px;
        bottom: -35px;
    }

    .benefits {
        flex-direction: column;
        justify-content: center;
        width: 60%;
        margin: 0 auto;
    }

    .benefits__item {
        margin-top: 10px;
    }

    .benefits__item:nth-child(odd) {
        align-self: flex-start;
    }

    .benefits__item:nth-child(even) {
        align-self: flex-end;
    }

    .feedback__form {
        flex-direction: column;
    }

    .form-mobile {
        display: block;
    }

    .form-desctop {
        display: none;
    }

    .form {
        flex-direction: column;
    }

    .form__options {
        justify-content: flex-start;
    }
}

@media (max-width:500px) {
    html {
        font-size: 12px;
    }

    .instagram__pictures-image {
        width: 100%;
    }

    .instagram__pictures {
        justify-content: center;
    }

    .decoration {
        background: #95c11f;
    }

    .decoration-right__plate {
        width: 65%;
    }

    .decoration-left__choose-program-button {
        margin: 295px 0 81px 68px;
    }

    .decoration-right__tomato {
        display: none;
    }

    .decoration-left__bigLogo {
        top: 13.75rem;
    }

    .decoration-left__choose-program-button {
        margin: 295px 0 46px 60px;
    }

    .decoration-left__leaf2 {
        left: 26px;
    }

    .form__options {
        flex-direction: column;
        align-items: flex-start;
    }

    .form__item {
        margin-bottom: 15px;
    }

    .options__item {
        margin-bottom: 10px;
    }

    .form__button-send {
        width: 170px;
        height: 45px;
    }
}

@media (max-width:400px) {
    html {
        font-size: 10px;
    }

    .decoration-right {
        display: none;
    }

    .phone {
        position: absolute;
        top: 42px;
        right: -10px;
    }

    .decoration-left__choose-program-button {
        margin: 250px 0 46px 60px;
    }

    .footer__contacts {
        align-self: center;
        text-align: center;
    }

    .footer__social {
        align-self: center;
        margin-top: 10px;
    }

    .social__icons-icon {
        margin-right: 5px;
    }
}